*{
    padding: 0;
    margin: 0;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    height: 99%;
    width: 99%;
}